body{
    margin: 0;
}


#topo{
    border-bottom: 1px solid;
    border-color: white;
    height: 11vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    opacity: 50%;
    font-size: 70px;
    z-index: 90;
}
